.hover-effect:hover {
    box-shadow: 0 4px 15px rgba(0,0,0,.2); /* Adjust the shadow to your preference */
    transform: translateY(-5px); /* Slight move up */
    transition: all .3s ease;
}

.hover-effect:hover .category-img {
    transform: scale(1.05); /* Slight zoom in */
    transition: transform .3s ease;
}

.category-img {
    width: 128px; /* Fixed width, adjust as necessary */
    height: 128px; /* Fixed height, adjust as necessary */
    object-fit: cover; /* Prevent stretching */
}